
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* base styles */
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 1px $mainShadow; }
::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $mainColor; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: $mainFontSize; font-family: $mainFont; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1,
h2,
h3 { font: 500 28px/1.29 'Roboto'; }
h4 { font: 500 20px/1.4 'Roboto'; }

p { font: normal 16px/1.5 'Roboto'; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 20px; background: transparent; display: grid; grid-gap: 20px; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 20px 10px; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 20px 40px; grid-template-columns: repeat(12, 1fr); }
  // @media screen and (min-width: $desktopWidth_md) {}
}

@media screen and (min-width: $tabletWidth) {
  h1,
  h3 { font-size: 48px; line-height: 1.33; }
  h2 { font-size: 56px; line-height: 1; }
  h4 { font-size: 24px; line-height: 1; }

  p { font-size: 20px; line-height: 1.4; }

  a:hover { color: $linkColor_hover; }
}


/* layout styles */
header { @include z('header');
  .container { height: 98px; padding: 30px 20px 20px;
    .header { grid-column: 1 / 5; display: flex; align-items: center;
      &-logo { margin-right: 180px; display: flex;
        a { display: flex; align-items: center;
          &:hover svg { fill: $linkColor_hover; }
          svg { width: 48px; height: 48px; fill: $accentColor; flex: none; }
        }
      }
      &-menu { display: none; }
    }
    .header-language { grid-column: 5 / 7; display: flex; justify-content: flex-end; align-items: center;
      img { width: 24px; height: 24px; }
    }

    @media screen and (min-width: $tabletWidth) { height: 123px; padding: 43px 10px 20px;
      .header { grid-column: 1 / 7;
        &-logo a svg { width: 60px; height: 60px; }
        &-menu { display: block;
          ul { display: flex; align-items: center;
            li {
              &:not(:last-child) { margin-right: 55px; }
              a { font-size: 20px; white-space: nowrap; }
            }
          }
        }
      }
      .header-language { grid-column: 7 / 9; }
    }
    @media screen and (min-width: $desktopWidth) { padding: 43px 40px 20px;
      .header { grid-column: 1 / 11; }
      .header-language { grid-column: 11 / 13; }
    }
  }
}

main { @include z('main'); }

footer { @include z('footer');
  .container { padding: 20px 20px 40px;
    .footer { grid-column: 1 / 7; display: flex; flex-direction: column;
      &__info { margin-bottom: 40px;
        p { color: $lightGrey; }
      }
      &__group { display: flex; justify-content: space-between; }
      &__terms { margin-right: 16px;
        a { color: $accentColor; white-space: nowrap;
          &:hover { color: $linkColor; }
        }
      }
      &__copyright p { color: $lightGrey; white-space: nowrap; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 20px 10px 40px;
      .footer { grid-column: 1 / 9; flex-direction: row;
        &__info { width: calc((100% - 40px)/2); margin: 0 40px 0 0; }
        &__group { width: calc((100% - 40px)/2); }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 20px 40px 60px;
      .footer { grid-column: 1 / 13;
        &__info { width: calc((100% - 150px)/2); margin: 0 150px 0 0; }
        &__group { width: calc((100% - 150px)/2); }
      }
    }
  }
}

#banner { background: $boxColor; @include z('banner');
  .container { height: 40px; padding: 0 20px;
    .banner { grid-column: 1 / 7; position: relative; display: flex; justify-content: center; align-items: center;
      &__info { margin-right: 32px;
        p { color: $lightGrey; font-size: 12px; line-height: 1.33; }
      }

      &-close { position: absolute; top: 8px; right: 0;
        a {
          &:hover svg { fill: $linkColor_hover; }
          svg { width: 24px; height: 24px; fill: $linkColor; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .banner { grid-column: 1 / 9;
        &__info { margin: 0 40px;
          p { line-height: 1; text-align: center; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .banner { grid-column: 1 / 13; }
    }
  }
}


/* page styles */
@import 'page/index';


/* module styles */
@import 'module/popup';
@import 'module/select';
