extends include/main

block variables
  - let title='IQ Signals'

block content
  section#start
    .container
      .start
        .start__title
          h1 Start trading with smart robot for IQ Option
        .start__text
          p IQ Signals is an automated tool for successful day trading at IQ Option mobile platform. Stop wasting time and money doing manual work – the robot will do everything all alone.
        .start__link
          a(href='//play.google.com/store' target='_blank' title='Get it on Google Play')
            img(src='/image/google_play_store_badge_en.svg' alt='Get it on Google Play')
      .start-image
        picture
          // source(srcset='/image/phone.m.webp 1x' media='(max-width: 767px)' type='image/webp')
          // source(srcset='/image/phone.webp 1x' type='image/webp')
          source(srcset='/image/phone.m.png 1x, /image/phone.m@2x.png 2x, /image/phone.m@3x.png 3x' media='(max-width: 767px)' type='image/png')
          source(srcset='/image/phone.png 1x, /image/phone@2x.png 2x, /image/phone@3x.png 3x' type='image/png')
          img(src='/image/phone.png' loading='eager' alt='image')
  #indicators
    .container
      ul.indicators
        li.indicators-item
          .indicators-item__title
            .indicators-item__icon
              img(src='/image/icon/chip.svg' alt='icon')
            | 69%
          .indicators-item__text Predictive accuracy
        li.indicators-item
          .indicators-item__title
            .indicators-item__icon
              img(src='/image/icon/wallet.svg' alt='icon')
            | $315
          .indicators-item__text Average deposit
        li.indicators-item
          .indicators-item__title $3 724 245
          .indicators-item__text Earned by clients
        li.indicators-item
          .indicators-item__title 7 882
          .indicators-item__text Active users worldwide
  section#win
    .container
      .win
        .win__title
          h3 All winning trading strategies implemened in&nbsp;one&nbsp;app!
      .win-image
        picture
          // source(srcset='/image/phone_win.m.webp 1x' media='(max-width: 767px)' type='image/webp')
          // source(srcset='/image/phone_win.webp 1x' type='image/webp')
          source(srcset='/image/phone_win.m.png 1x, /image/phone_win.m@2x.png 2x, /image/phone_win.m@3x.png 3x' media='(max-width: 767px)' type='image/png')
          source(srcset='/image/phone_win.png 1x, /image/phone_win@2x.png 2x, /image/phone_win@3x.png 3x' type='image/png')
          img(src='/image/phone_win.png' loading='lazy' alt='image')
  section#info
    .container
      ul.info
        li.info-item
          .info-item__icon
            img(src='/image/icon/user.svg' alt='icon')
          .info-item__title
            h4 Simple and intuitive interface
          .info-item__text
            p You don't need any specialized knowledge or&nbsp;pro skills to start using the robot
        li.info-item
          .info-item__icon
            img(src='/image/icon/pay.svg' alt='icon')
          .info-item__title
            h4 $10,000 Demo account
          .info-item__text
            p Test our trading algorithms without any&nbsp;risks TAKE PROFIT – The robot stops trading after earning the amount of money you set up
        li.info-item
          .info-item__icon
            img(src='/image/icon/feedback.svg' alt='icon')
          .info-item__title
            h4 24/7 Support
          .info-item__text
            p Аsk us for any help whenever you&nbsp;want and&nbsp;we&nbsp;will answer you ASAP
  section#analitics
    .container
      .analitics
        .analitics__title
          h3 IQ Signals cloud analitics
        .analitics__text
          p A custom-built predictive model with machine learning developed by a group of mathematicians, data scientists, and financial analytics.
          p It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.
      .analitics-image
        .analitics-image__code
          picture
            // source(srcset='/image/code.webp 1x' type='image/webp')
            source(srcset='/image/code.png 1x, /image/code@2x.png 2x, /image/code@3x.png 3x' type='image/png')
            img(src='/image/code.png' loading='lazy' alt='image')
        .analitics-image__banner
          picture
            // source(srcset='/image/banner.webp 1x' type='image/webp')
            source(srcset='/image/banner.png 1x, /image/banner@2x.png 2x, /image/banner@3x.png 3x' type='image/png')
            img(src='/image/banner.png' loading='lazy' alt='image')
  section#steps
    .container
      .steps
        .steps__title
          h2 Start trading in 4 steps
        ul.steps-list
          li.steps-list-item
            .steps-list-item__count 1
            .steps-list-item__text Install the app from Google Play
          li.steps-list-item
            .steps-list-item__count 2
            .steps-list-item__text Test the robot at the Demo account
          li.steps-list-item
            .steps-list-item__count 3
            .steps-list-item__text Register a new account using Registration form inside the app
          li.steps-list-item
            .steps-list-item__count 4
            .steps-list-item__text Deposit at least $100 and start trading for real
        .steps__link
          a(href='//play.google.com/store' target='_blank' title='Get it on Google Play')
            img(src='/image/google_play_store_badge_en.svg' alt='Get it on Google Play')
          p And start trading right now with&nbsp;IQ&nbsp;Signals
      .steps-image
        picture
          // source(srcset='/image/phone_steps.webp 1x' type='image/webp')
          source(srcset='/image/phone_steps.png 1x, /image/phone_steps@2x.png 2x, /image/phone_steps@3x.png 3x' type='image/png')
          img(src='/image/phone_steps.png' loading='lazy' alt='image')
  section#faq
    .container
      .faq
        .faq__title
          h2 FAQ
        ul.faq-list
          li.faq-list-item
            a.open-popup(href='#answer_1' title='Read more')
              .faq-list-item__question
                p
                  | I already have an account at the IQ Option platform.
                  br
                  | Can i use it with your app?
              .faq-list-item__more
                svg
                  use(href='/image/icon/arrow.svg#arrow')
          li.faq-list-item
            a.open-popup(href='#answer_2' title='Read more')
              .faq-list-item__question
                p
                  | Demo balance exhausted.
                  br
                  | Can i refresh it?
              .faq-list-item__more
                svg
                  use(href='/image/icon/arrow.svg#arrow')
          li.faq-list-item
            a.open-popup(href='#answer_3' title='Read more')
              .faq-list-item__question
                p
                  | I’d like to withdraw my money.
                  br
                  | How can i make it?
              .faq-list-item__more
                svg
                  use(href='/image/icon/arrow.svg#arrow')
