
/* font options */
$mainColor                 : #ffffff;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Roboto', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : rgba(255, 255, 255, .6);

/* screen resolution */
$mobileWidth               : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1260px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* primary colors */
$backgroundColor           : #171e32;
$linkColor                 : #ffffff;
$linkColor_hover           : #6d788b;
$accentColor               : #fb7200;
$boxColor                  : #232b40;
$overlayBackground         : rgba(0, 0, 0 , .5);

/* complementary colors */
$green                     : #2bac40;
$darkGrey                  : #353a52;
$lightGrey                 : #6d788b;
