
/* popup */
#popup { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; overflow: auto; display: none; @include z('popup');

  /* однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  .overlay { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh; background: $overlayBackground; overflow-x: hidden; display: none; @include z('popup-overlay');
    .close-popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
    .module { position: relative; left: 50vw; width: calc(100% - 32px); border-radius: 24px; margin: 50px 0; padding: 72px 16px 64px; background: $darkGrey; opacity: 0; overflow: hidden; display: none; transform: translate(-50%, 0);
      &.center { top: 50vh; margin: 0; transform: translate(-50%, -50%);

        /* добавляет сглаживание */
        // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
      }
      .close-popup { position: absolute; left: auto; top: 16px; right: 16px; width: 32px; height: 32px;
        &:hover svg { fill: $accentColor; }
        svg { width: 32px; height: 32px; fill: $mainColor; }
      }

      /* ответы на вопросы */
      .answer { width: 100%;
        &__title { margin-bottom: 40px; font-weight: 500; font-size: 24px; line-height: 1.33; }
        &__text p { font-size: 20px; line-height: 1.4;
          &:not(:last-child) { margin-bottom: 24px; }
        }
      }

      @media screen and (min-width: $tabletWidth) { width: 680px; height: 480px; margin: 80px 0; padding: 88px 32px 64px;
        .close-popup { top: 32px; right: 32px; }
      }
    }
  }
}
