
/* select */
.select { position: relative;
  &-box { margin-right: 40px; color: $linkColor; font-size: 20px; white-space: nowrap; display: block;
    &:hover { color: $linkColor_hover;
      & + svg { fill: $linkColor_hover; }
    }
    &:focus + svg { transform: rotate(-180deg); }

    & + svg { position: absolute; top: 8px; right: 16px; width: 16px; height: 16px; fill: $accentColor; transition: transform .3s linear; }
  }
  &-options { position: absolute; left: -16px; top: 32px; width: calc(100% + 32px); border-radius: 12px; padding: 16px 0; background: $darkGrey; display: none; flex-direction: column; @include z('select-options');
    .option { padding: 0 16px; background: $darkGrey; font-size: 20px; line-height: 2; white-space: nowrap; cursor: pointer; display: flex; flex-direction: column; justify-content: center;
      &:hover { background: $lightGrey; color: $linkColor; }
    }
  }

  @media screen and (min-width: $tabletWidth) {
    &-options { width: calc(100% + 56px);
      .option { padding: 0 40px 0 16px; }
    }
  }
}
