#banner
  .container
    .banner
      .banner__info
        p This site and IQ Signals app are not affilieted with the&nbsp;IQ&nbsp;Option company and it’s products
      .banner-close
        a.close-banner(href='#' title='Close banner')
          svg
            use(href='/image/icon/close.svg#close')
