footer
  .container
    .footer
      .footer__info
        p Risk warning: your capital may be&nbsp;at&nbsp;risk. Developer is&nbsp;not&nbsp;responsible for trading results. Raed Terms and&nbsp;Conditionals before using the&nbsp;app.
      .footer__group
        .footer__terms
          p
            a(href='#' title='Terms & Conditionals') Terms & Conditionals
        .footer__copyright
          p &copy; 2021 IQ Signals
