-
  let menu = [
    { url: '#info', title: 'Features' },
    { url: '#steps', title: 'How to start' },
    { url: '#faq', title: 'FAQ' }
  ]

header
  .container
    .header
      .header-logo
        a(href='/' title='IQ Signals')
          svg
            use(href='/image/logo.svg#iq_signals')
      nav.header-menu
        ul
          each link in menu
            li
              a.hash(href=link.url title=link.title) #{ link.title }
    .header-language
      .select
        input(type='hidden' name='language' value='1')
        a.select-box#language(href='#' title='Choose language') English
        svg
          use(href='/image/icon/chevron.svg#chevron')
        .select-options(data-for='language')
