block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='keywords' content='')
    meta(name='author' content='Ilya Korotkov ilushkeens@gmail.com')

    // icon & css
    link(href='/favicon.ico' rel='shortcut icon' type='image/x-icon')
  body
    #app
      include banner
      include header
      main
        block content
      include footer
      include popup

    // js
