// popup
#popup
  .overlay
    .close-popup
    // ответы на вопросы
    .module#answer_1
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .answer
        .answer__title I already have an account at the IQ Option platform. Can&nbsp;i&nbsp;use it with your app?
        .answer__text
          p A custom-built predictive model with machine learning developed by&nbsp;a&nbsp;group of mathematicians, data scientists, and financial analytics.
          p It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.
    .module#answer_2
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .answer
        .answer__title Demo balance exhausted. Can i refresh it?
        .answer__text
          p A custom-built predictive model with machine learning developed by&nbsp;a&nbsp;group of mathematicians, data scientists, and financial analytics.
          p It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.
    .module#answer_3
      a.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .answer
        .answer__title I’d like to withdraw my money. How can i make it?
        .answer__text
          p A custom-built predictive model with machine learning developed by&nbsp;a&nbsp;group of mathematicians, data scientists, and financial analytics.
          p It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.
// popup end
