
/* Index page */
#start {
  .container { min-height: 716px;
    .start { grid-column: 1 / 7;
      &__title { margin-bottom: 24px;
        h1 { color: $accentColor; }
      }
      &__text { margin-bottom: 40px; }
      &__link a { display: inline-flex;
        &:hover { transition: .3s; transform: scale(.9, .9); }
        img { width: 200px; height: 58px; flex: none; }
      }
    }
    .start-image { grid-column: 1 / 7; margin: 0 -20px; display: flex; justify-content: center;
      img { width: calc(100% + 40px); flex: none; }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 773px;
      .start { grid-column: 1 / 6;
        &__title { margin: 107px 0 32px; }
        &__text { margin: 0 120px 48px 0; }
      }
      .start-image { grid-column: 6 / 9; margin: -30px -20px 0 0; position: relative; justify-content: flex-end;
        &::before { @include pseudo; left: -80px; top: 183px; width: 1008px; height: 303px; background: transparent url('../image/bg/graph.svg') left no-repeat; z-index: -1; }
        img { width: 100%; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .start-image img { width: 348px; height: 671px; }
    }
    @media screen and (min-width: $desktopWidth) {
      .start { grid-column: 1 / 7; }
      .start-image { grid-column: 7 / 13; margin-right: 35px;
        &::before { left: 20px; }
      }
    }
  }
}

#indicators {
  .container { min-height: 316px;
    .indicators { grid-column: 1 / 7; display: flex; flex-wrap: wrap;
      &-item { width: calc((100% -12px)/2); height: 132px; border-radius: 24px; padding: 24px 16px; background: $boxColor; overflow: hidden; display: flex; flex-direction: column;
        &:nth-child(odd) { margin-right: 12px; }
        &:nth-child(-n+2) { margin-bottom: 12px; }
        &:nth-child(3) { position: relative;
          &::before { @include pseudo; left: 0; bottom: 0; width: 100%; height: 25px; background: transparent url('../image/bg/wave.m.svg') center no-repeat; background-size: cover; }
        }
        &__title { margin-bottom: 12px; color: $green; font-weight: 500; font-size: 24px; line-height: 1; display: flex; align-items: center; }
        &__icon { margin-right: 12px; flex: none;
          img { width: 24px; height: 24px; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 600px;
      .indicators { grid-column: 1 / 9;
        &-item { height: 270px; justify-content: center; align-items: center;
          &:nth-child(3n+1) { width: 300px; }
          &:nth-child(n+2):not(:last-child) { width: calc(100% - 320px); }
          &:nth-child(odd) { margin-right: 20px; }
          &:nth-child(-n+2) { margin-bottom: 20px; }
          &:nth-child(3)::before { height: 69px; background-image: url('../image/bg/wave.svg'); }
          &__title { margin-bottom: 16px; font-size: 68px; }
          &__icon { margin-right: 16px;
            img { width: 48px; height: 48px; }
          }
          &__text { font-size: 20px; line-height: 1.6; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .indicators { grid-column: 1 / 13;
        &-item {
          &:nth-child(1) { width: 460px; }
          &:nth-child(2):not(:last-child) { width: calc(100% - 480px); }
          &:nth-child(3):not(:last-child) { width: calc(100% - 360px); }
          &:nth-child(4) { width: 340px; }
        }
      }
    }
  }
}

#win {
  .container { min-height: 461px;
    .win { grid-column: 1 / 7;
      &__title { margin-bottom: 20px; }
    }
    .win-image { grid-column: 1 / 7; position: relative; margin: 0 -20px; display: flex; justify-content: center;
      &::before { @include pseudo; left: 0; top: -149px; width: 670px; height: 202px; background: transparent url('../image/bg/graph_win.m.svg') left no-repeat; z-index: -1; }
      img { width: calc(100% + 40px); flex: none; }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 625px; padding-top: 115px;
      .win { grid-column: 1 / 6; display: flex; align-items: center;
        &__title { margin-bottom: 0; }
      }
      .win-image { grid-column: 6 / 9; margin-right: 25px; justify-content: flex-end; align-items: center;
        &::before { left: -539px; top: 48px; width: 1008px; height: 303px; background-image: url('../image/bg/graph_win.svg'); }
        img { width: 100%; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .win-image img { width: 380px; height: 470px; }
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 85px;
      .win { grid-column: 1 / 8; }
      .win-image { grid-column: 8 / 13; margin: 90px 0 0 0;
        &::before { left: -639px; top: 25px; }
      }
    }
  }
}

#info {
  .container { min-height: 844px;
    .info { grid-column: 1 / 7; display: flex; flex-direction: column;
      &-item { width: 100%; min-height: 260px; border-radius: 24px; padding: 16px 24px; background: $boxColor; display: flex; flex-direction: column; align-items: center;
        &:not(:last-child) { margin-bottom: 12px; }
        &__icon { margin-bottom: 24px; width: 56px; height: 56px; border-radius: 50%; background: $backgroundColor; display: flex; justify-content: center; align-items: center; flex: none;
          img { width: 24px; height: 24px; }
        }
        &__title { margin-bottom: 16px; text-align: center; }
        &__text { text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 314px;
      .info { grid-column: 1 / 9; flex-direction: row; justify-content: space-between;
        &-item { width: calc((100% - 40px)/3); min-height: 274px;
          &:not(:last-child) { margin: 0 20px 0 0; }
          &__icon { margin-bottom: 32px; }
          &__text p { font-size: 16px; line-height: 1.5; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .info { grid-column: 1 / 13;
        &-item__title { margin-bottom: 24px; }
      }
    }
  }
}

#analitics {
  .container { min-height: 688px;
    .analitics { grid-column: 1 / 7;
      &__title { margin-bottom: 24px;
        h3 { color: $accentColor; }
      }
      &__text p:not(:last-child) { margin-bottom: 16px; }
    }
    .analitics-image { position: relative; grid-column: 1 / 7;
      &__code img { width: 240px; height: 240px; }
      &__banner { position: absolute; right: 0; top: 196px;
        img { width: 240px; height: 88px; }
      }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 722px; padding-top: 176px;
      .analitics { grid-column: 5 / 9; order: 2; }
      .analitics-image { grid-column: 1 / 5; order: 1;
        &__code { margin-top: -50px;
          img { width: 293px; height: 293px; }
        }
        &__banner { left: 70px; top: 185px; right: auto;
          img { width: 300px; height: 109px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .analitics { grid-column: 7 / 13; }
      .analitics-image { grid-column: 1 / 7;
        &__code {
          img { width: 460px; height: 460px; }
        }
        &__banner { left: 210px; top: 345px;
          img { width: 320px; height: 116px; }
        }
      }
    }
  }
}

#steps {
  .container { min-height: 510px;
    .steps { grid-column: 1 / 7;
      &__title { margin-bottom: 32px; }
      &__link { display: flex; flex-direction: column;
        a { display: inline-flex; order: 2;
          img { width: 200px; height: 58px; flex: none; }
          &:hover { transition: .3s; transform: scale(.9, .9); }
        }
        p { order: 1; margin-bottom: 24px; }
      }

      &-list { margin-bottom: 32px;
        &-item { display: flex; align-items: center;
          &:not(:last-child) { margin-bottom: 24px; }
          &__count { width: 48px; height: 48px; margin-right: 16px; border-radius: 50%; background: $boxColor; color: $accentColor; font-weight: 500; font-size: 20px; line-height: 1.6; display: flex; justify-content: center; align-items: center; flex: none; }
        }
      }
    }
    .steps-image { display: none; }

    @media screen and (min-width: $tabletWidth) { min-height: 704px;
      .steps { grid-column: 1 / 6;
        &__title { margin-bottom: 56px; }
        &__link { flex-direction: row; align-items: center;
          a { margin-right: 40px; order: 1; }
          p { margin: 0; order: 2; }
        }

        &-list-item {
          &:not(:last-child) { margin-bottom: 28px; }
          &__count { width: 64px; height: 64px; margin-right: 20px; font-size: 32px; line-height: 1; }
        }
      }
      .steps-image { grid-column: 6 / 9; margin-top: 112px; display: flex; justify-content: center;
        img { flex: none; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .steps-list { margin: 0 150px 72px 0; }
      .steps-image img { width: 380px; height: 470px; }
    }
    @media screen and (min-width: $desktopWidth) {
      .steps { grid-column: 1 / 7; }
      .steps-image { grid-column: 7 / 13; }
    }
  }
}

#faq {
  .container { min-height: 484px;
    .faq { grid-column: 1 / 7;
      &__title { margin-bottom: 24px; }

      &-list { display: flex; flex-direction: column;
        &-item {
          &:not(:last-child) { margin-bottom: 12px; }
          &__more { width: 24px; height: 24px; position: absolute; right: 20px; bottom: 16px;
            svg { width: 24px; height: 24px; fill: $accentColor; }
          }

          a { position: relative; min-height: 120px; border-radius: 24px; padding: 16px; background: $darkGrey; display: block;
            &:hover { color: $linkColor; transition: .3s; transform: scale(.9, .9);
              svg { fill: $linkColor_hover; }
            }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 454px;
      .faq { grid-column: 1 / 9;
        &__title { margin-bottom: 56px; }

        &-list { flex-direction: row; justify-content: space-between;
          &-item { width: calc((100% - 40px)/3);
            &:not(:last-child) { margin: 0 20px 0 0; }
            &__more { right: 28px; bottom: 18px; }

            a { min-height: 160px; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .faq { grid-column: 1 / 13; }
    }
  }
}
